.user-avatar {
    width: 40px;
    height: auto;
}

.custom-small-font {
    font-size: 10px;
}

.custom-medium-font {
    font-size: 13px;
}

.custom-grey {
    color: #979AA0;
}

body:after {
    /* content: "xs"; */
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 50px;
    z-index: 9999;
}

@media (min-width: 576px) {
    body:after {
        content: "sm, 576px";
    }
}

@media (min-width: 768px) {
    body:after {
        content: "md, 768px";
    }
}

@media (min-width: 992px) {
    body:after {
        content: "lg, 992px";
    }
}

@media (min-width: 1200px) {
    body:after {
        content: "xl, 1200px";
    }
}

@media (min-width: 1400px) {
    body:after {
        content: "xxl, 1400px";
    }
}